<!DOCTYPE html>
<html>
  <head>
    <script language="javascript" type="text/javascript" src="jquery-1.10.2.js"></script>
    <link href="application.css" rel="stylesheet" type="text/css">
    <title>Your Favourite Venues</title>
  </head>
  <body>
    <script src="application.js" type="text/javascript"></script>
    <div class="container">
      <h1>Your venues</h1>
      <% if @favourites %>
        <div class="result favourites_result">
          <p class="title">Favourites List</p>
            <% @favourites.each_with_index do |venue, i| %>
              <a class="venue" href=<%=venue[:canonical_url]%> target="_blank"><%= venue[:name]%></a>
              <input type="checkbox" id="favourite_<%=i%>" name="favourite_<%=i%>" value="" onclick="toggle_favourite('<%=venue[:venue_id]%>', this)" <%=checker(venue[:favourite])%> >
              <p class="address"><%=venue[:location]%></p>
              <p id="<%=venue[:venue_id]%>" data-name="<%= venue[:name]%>" data-location="<%=address(venue[:location])%>" data-url="<%=venue[:canonical_url]%> " style="display:none"><%=venue[:venue_id]%></p>
            <% end %>
          </div>
      <% end %>
    </div>
  </body>
</html>
